stages:
  - build

variables:
  CI_DEBUG_SERVICES: true
  PROXY_ADDRESS: ziti-edge-proxy
  PROXY_HOST: 127.0.0.1
  SOCKS_PORT: 1080
  HTTP_PORT: 8080
  PROXY_USERNAME: user
  PROXY_PASSWORD: password
  ZITI_IDENTITY: $ZITI_IDENTITY_BASE64 # Variable from Gitlab CI/CD secrets
 
default:
  services:
    - name: ghcr.io/erikmagkekse/ziti-edge-proxy:main
      alias: ziti-edge-proxy

deploy:
  stage: build
  image: YOUR-IMAGE
  variables:
    ANSIBLE_REMOTE_USER: deployer
    ANSIBLE_INVENTORY: hosts.ini
  before_script:
    - mkdir ~/.ssh
    - echo $SSH_DEPLOY_KEY_BASE64 | base64 -d > ~/.ssh/id_rsa # Variable from Gitlab CI/CD secrets
    - chmod 0600 ~/.ssh/id_rsa
  script:
    - ansible-playbook main.yml -v

curl-example:
  stage: build
  image: YOUR-IMAGE
  script:
    - curl -x http://${PROXY_USERNAME}:${PROXY_PASSWORD}@${PROXY_ADDRESS}:${HTTP_PORT} https://your.intercept.hostname.com

    