name: Docker build and push

on:
  push:
    branches:
      - '**'
    paths:
      - 'src/**'
      - '.github/workflows/**'
      - 'requirements.txt'
      - 'entrypoint.sh'
      - 'Dockerfile'
      - 'VERSION.txt'

jobs:
  docker:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v6
        
      - name: Replace slashes in branch name
        run: |
          SAFE_BRANCH_NAME="${GITHUB_REF_NAME//\//-}"
          echo "SAFE_BRANCH_NAME=$SAFE_BRANCH_NAME" >> $GITHUB_ENV
        env:
          GITHUB_REF_NAME: ${{ github.ref_name }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Read version from VERSION.txt and set tags
        run: |
          if [ -f VERSION.txt ]; then
            VERSION=$(cat VERSION.txt)
            echo "Version is $VERSION"
          else
            VERSION=""
            echo "Version file not found! $(ls -la)"
            exit 1
          fi

          GHCR_IMAGE="ghcr.io/${{ github.repository_owner }}/ziti-edge-proxy"

          if [ "${GITHUB_REF_NAME}" == "main" ]; then
            TAGS="${GHCR_IMAGE}:${{ env.SAFE_BRANCH_NAME }},${GHCR_IMAGE}:${VERSION},${GHCR_IMAGE}:latest"
          else
            TAGS="${GHCR_IMAGE}:${{ env.SAFE_BRANCH_NAME }},${GHCR_IMAGE}:${{ env.SAFE_BRANCH_NAME }}-${VERSION}"
          fi

          echo "Will push with Tags: $TAGS"

          echo "TAGS=$TAGS" >> $GITHUB_ENV

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: ${{ env.TAGS }}
